@import url("../resources/fonts/fonts.scss");

$font-family: 'Merriweather';

.main-page {
  background: linear-gradient(to right, #546561 89.5vw, white 89.5vw, white 90vw, #546561 90vw);
  overflow-x:hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: $font-family;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
