@font-face {
  font-family:'Merriweather';
  src: url('Merriweather Regular.eot');
  src: url('Merriweather Regular.eot?#iefix') format('embedded-opentype'),
  url('Merriweather Regular.woff2') format('woff2'),
  url('Merriweather Regular.woff') format('woff'),
  url('Merriweather Regular.ttf') format('truetype'),
  url('Merriweather Regular.svg#Merriweather Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
